<table class="table table-borderless posts">
  <thead>
    <tr>
      <th scope="col"><%= post.user.first_name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= post.content %>
      </td>
    </tr>
    <tr>
      <td>
        <% if current_user.id == post.user_id %>
          <%= link_to "Delete", post_path(post), method: :delete, remote: true,  data: {confirm: "Are you sure?"} %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to like_post_path(post), class: "like", method: :put, remote: true do %>
          <button type="button" class="btn btn-success">
            Upvote
            <i class="fas fa-angle-up"></i>
            <span class="badge"><%= post.get_upvotes.size %></span>
          </button>
        <% end %>

        <%= link_to unlike_post_path(post), class: "dislike", method: :put, remote: true do %>
          <button type="button" class="btn btn-danger">
            Downvote
            <i class="fas fa-angle-down"></i>
            <span class="badge"><%= post.get_downvotes.size %></span>
          </button>
        <% end %>
      </td>
    </tr>
    <hr>
  </tbody>
</table>
